*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root::backdrop {
    background-color: rgba(0,0,0,0);
}
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}